<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeonju.movie.app.mapper.UserMapper">

    <select id="maxno" resultType="java.lang.Integer">
        SELECT IFNULL(MAX(SUBSTRING(UNO,10,3)),0)+1 AS 'MAXNO'
        FROM USER
        WHERE SUBSTRING(UNO,2,8) = DATE_FORMAT(NOW(),'%Y%m%d')
    </select>

    <insert id="userJoin" parameterType="UserVO">
        INSERT INTO USER (
            UNO, UNAME, UID, UPW, UBIRTH, UADDR,
            UGENDER, UPHONE, UMAIL, UPROFILE,
            UINSERTDATE, UUPDATEDATE,
            UDELETEYN, UROLE, UTEMPYN
        ) VALUES (
            #{uno}, #{uname}, #{uid}, #{upw}, #{ubirth}, #{uaddr},
            #{ugender}, #{uphone}, #{umail}, #{uprofile},
            NOW(), NOW(),
            'Y', #{urole}, #{utempyn}
        )
    </insert>

    <select id="IdCheck" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(UID) FROM USER WHERE UID = #{uid}
        AND UDELETEYN = 'Y'
    </select>

    <select id="countByUmail" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM USER WHERE UMAIL = #{umail}
    </select>

    <select id="selectID" parameterType="java.lang.String" resultType="UserVO">
        SELECT * FROM USER
        WHERE UDELETEYN = 'Y'
          AND UID = #{uid}
    </select>

    <select id="selectUserByUmail" parameterType="java.lang.String" resultType="UserVO">
        SELECT * FROM USER
        WHERE UDELETEYN = 'Y'
          AND UMAIL = #{umail}
    </select>

    <select id="userOne" parameterType="java.lang.String" resultType="UserVO">
        SELECT * FROM USER WHERE UNO = #{uno}
    </select>

    <select id="userList" parameterType="com.jeonju.movie.comm.SearchCondition" resultType="UserVO">
        SELECT UNO, UNAME, UID, UBIRTH, UPHONE, UPROFILE, UINSERTDATE
        FROM USER
        WHERE UDELETEYN = 'Y'
        <include refid="searchCondition"/>
        ORDER BY UINSERTDATE ASC, UNAME DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="userCnt" parameterType="com.jeonju.movie.comm.SearchCondition" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM USER
        WHERE UDELETEYN = 'Y'
        <include refid="searchCondition"/>
    </select>

    <sql id="searchCondition">
        <choose>
            <when test='option == "NA"'>
                AND UNAME LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test='option == "ID"'>
                AND UID LIKE CONCAT('%', #{keyword}, '%')
            </when>
        </choose>
    </sql>

    <select id="searchID" parameterType="UserVO" resultType="java.lang.String">
        SELECT UID FROM USER
        WHERE UDELETEYN = 'Y'
          AND UNAME  = #{uname}
          AND UPHONE = #{uphone}
    </select>

    <select id="searchPW" parameterType="UserVO" resultType="java.lang.String">
        SELECT UID FROM USER
        WHERE UDELETEYN = 'Y'
          AND UNAME  = #{uname}
          AND UID    = #{uid}
          AND UPHONE = #{uphone}
    </select>

    <update id="userUpdate" parameterType="UserVO">
        UPDATE USER SET
            UNAME       = #{uname},
            UBIRTH      = #{ubirth},
            UADDR       = #{uaddr},
            UGENDER     = #{ugender},
            UPHONE      = #{uphone},
            UMAIL       = #{umail},
            UUPDATEDATE = NOW()
        WHERE UNO = #{uno}
    </update>

    <update id="updateUprofile" parameterType="UserVO">
        UPDATE USER SET
            UPROFILE    = #{uprofile},
            UUPDATEDATE = NOW()
        WHERE UNO = #{uno}
    </update>

    <update id="updateUpw" parameterType="UserVO">
        UPDATE USER SET
            UPW         = #{upw},
            UTEMPYN     = #{utempyn},
            UUPDATEDATE = NOW()
        WHERE UNO = #{uno}
    </update>

    <delete id="userDelete" parameterType="java.lang.String">
        DELETE FROM USER
        WHERE UNO = #{uno}
    </delete>

</mapper>